<div class="row blogindex-visual">
	<p class="about-visual-text"><strong> Staff Blog</strong></p>
</div>

<div class="col-md-8 col-md-offset-2">
	<p> Only staff can see this page.</p>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% @blogs.each do |blog| %>
		<span><%= link_to blog.title, blog_path(blog.id) %></span>
		<% end %>

		</div>
		<div class="col-md-2">
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-md-offset-8">
			<p> << 1 2 3 >></p>
		</div>
	</div>
