<div class="row blogindex-visual">
	<p class="about-visual-text"><strong> Staff Blog</strong></p>
</div>
<div class="col-md-8 col-md-offset-2">
	<p> Only staff can see this page.</p>
</div>

<div class="row concept">
	<h2 class="title"> Blogを投稿しましょう！</h2>
	<p class="concept-text">
	☆必ず画像を入れてください。</p>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-3">
		<p> date</p>
		<p> title</p>
		<p> text</p>
		<p> picture</p>
		<p> contributor</p>
	</div>
	<div class="col-md-2 col-md-offset-8">
		<p> 投稿する</p>
	</div>
</div>
