<div class="row newsindex-visual">
  <p class="about-visual-text"><strong> News</strong></p>
</div>
<div class="col-md-8 col-md-offset-2">
  <p> Only staff can see this page.</p>
</div>

<div class="row">
  <div class=" col-md-8 col-md-offset-2">
   <table class="table">
<!--        <thead>
          <tr>
            <th></th>
          </tr>
        </thead> -->
        <tbody>
         <tr>
          <td> 2018年１月３日</td>
          <td> title</td>
        </tr>
        <tr>
          <td> 2018年１月３日</td>
          <td> title</td>
        </tr>
        <tr>
         <td> 2018年１月３日</td>
         <td> title</td>
       </tr>
     </tbody>
   </table>
 </div>
 <div class="col-md-2">
 </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <p> << 1 2 3 >></p>
  </div>
</div>