<div class="row newsindex-visual">
  <p class="about-visual-text"><strong> News</strong></p>
</div>

<div class="row">
  <div class=" col-md-8 col-md-offset-2">
   <% @news.each do |news| %>
    <span><%= link_to news.title, news_path(news.id) %></span>
    <% end %>
 </div>
 <div class="col-md-2">
 </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <p> << 1 2 3 >></p>
  </div>
</div>