/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


* {
	color: #6c6b6b;
}

header {
	position: relative;
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}

.headline {
	font-size: 32px;
	color: #6c6b6b;
}

.nav-text a {
	color: black;
	font-size: 18px;
}

.left {
	margin-left: 23px;
}

.top {
	margin-top: 30px;
}


/*footer*/
.sitemap {
	background-color: black;
	margin-top: 30px;
}

.sitemap-text {
	color: #f7f7f7;
	margin: 0 20px;
}

.text-white {
	color: white;
}

.nav > li > a:hover, .nav > li > a:focus{
	background-color: black;
	color: #fff;
}

.actions {
	margin-top: 10px;
}



/*top.html*/
.login-visual {
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-164287.jpeg);
	background-size: 100% 100%;
	background-position: center;
}


/*staffhome.html*/
.staffhome-visual {
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-image: url(pictures/smartphone-vintage-technology-music.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.staff-top-text {
	font-size: 23px;
	color: #9999ff;
	text-align: center;
	margin-top: 200px;
}

