// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*news.html*/
.newsindex-visual {
	width: 100%;
	height: 250px;
	margin-bottom: 30px;
	background-image: url(pictures/pexels-photo-706143.jpeg);
	background-size: 70% 100%;
	background-position: center;
}

.news-line {
	line-height: 2.0;
}