// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/*top.html*/
.top-visual {
	width: 100%;
	height: 500px;
	background-image: url(pictures/building-joy-planning-plans.jpg);
	background-size: 100% 100%;
	background-position: center;
}

.top-visual-text {
	font-size: 32px;
	text-align: center;
	padding-top: 200px;
}

.concept {
	width: 100%;
	text-align: center;
	padding-top: 30px;
}

.concept-text {
	font-size: 20px;
	padding-bottom: 30px;
}

.link-box {
	height: 100px;
	background-size: 100% 100%;
}

.link-box1 {
	background-image: url(pictures/bricks-wall-stones-structure-37865.jpeg);
	margin-bottom: 5px;
}

.link-box2 {
	background-image: url(pictures/pexels-photo-220182.jpeg);
	margin-bottom: 5px;
}

.link-box3 {
	background-image: url(pictures/pexels-photo-renga.jpg);
}

.link-box4 {
	margin-top: 5px;
	background-image: url(pictures/pexels-photo-131637.jpeg);

}

.link-text {
	color: white;
	font-size: 40px;
	text-align: right;
	border-bottom: 3px solid #003300;
}

.back-image1 {
	width: 100%;
	height: 200px;
	margin-top: 30px;
	background-color: #f7f7f7;
	background-size: 100% 100%;
	background-position: center;
}

.back-image2 {
	width: 90%;
	height: 300px;
	background-size: 100% 100%;
	background-image: url(pictures/pexels-photo-418806.jpeg);
}


/*about.html*/
.about-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/pexels-photo-276549.jpeg);
	background-size: 70% 100%;
	background-position: center;
}

.about-visual-text {
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
}

.about-visual-text strong {
	color: #f7f7f7;
}

.post h3 {
	border-left: solid 0.75rem #BF6A7A;
	font-size: 2rem;
}


/*price.html*/
.price-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/alvin-engler-48444.jpg);
	background-size: 70% 100%;
	background-position: center;
}


/*questions.html*/
.questions-visual {
	width: 100%;
	height: 250px;
	background-image: url(pictures/pexels-photo-139764.jpeg);
	background-size: 70% 100%;
	background-position: center;
}

