<div class="container post">
	<div class="row about-visual">
		<p class="about-visual-text"><strong> About</strong></p>
	</div>

	<div class="row concept">
		<p> text text text text text text text text text<br>
			text text text text text text<br>
		text text text text text text text text text</p>
	</div>


	<div class="row">
		<div class ="col-md-6 col-md-offset-2">
			<h3> 時間課金型の料金システム</h3>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-4 col-md-offset-2">
		</div>

		<div class ="col-md-6">
			<p>text text text text text text text text text<br>
				text text text text text text
				text text text text text text text text text<br>
			text text text text text text text text text text text text</p>
		</div>
	</div>


	<div class="row">
		<div class ="col-md-6 col-md-offset-2">
			<h3> コワーキングスペース</h3>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-4 col-md-offset-2">
		</div>

		<div class ="col-md-6">
			<p>text text text text text text text text text<br>
				text text text text text text
				text text text text text text text text text<br>
			text text text text text text text text text text text text</p>
		</div>
	</div>


	<div class="row">
		<div class ="col-md-6 col-md-offset-2">
			<h3> オフィスのような、家のような、カフェのような</h3>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-4 col-md-offset-2">
		</div>

		<div class ="col-md-6">
			<p>text text text text text text text text text<br>
				text text text text text text
				text text text text text text text text text<br>
			text text text text text text text text text text text text</p>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-6 col-md-offset-2">
			<h3> ドリンクバー</h3>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-4 col-md-offset-2">
		</div>

		<div class ="col-md-6">
			<p>text text text text text text text text text<br>
				text text text text text text
				text text text text text text text text text<br>
			text text text text text text text text text text text text</p>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-6 col-md-offset-2">
			<h3> ドリンク＆フード持込みOK</h3>
		</div>
	</div>

	<div class="row">
		<div class ="col-md-4 col-md-offset-2">
		</div>

		<div class ="col-md-6">
			<p>text text text text text text text text text<br>
				text text text text text text
				text text text text text text text text text<br>
			text text text text text text text text text text text text</p>
		</div>
	</div>


</div>
