<div class="row">
	<h2 class="concept"> Access</h2>
	<div class="col-md-5 col-md-offset-1">
		<p> Address:<br>東京都世田谷区三軒茶屋1-38-8 フレッシュビル</p>
		<p> Opening times:<br> Open／am 9:30 〜 Close／pm 9:00（最終入店／pm 8:00）</p>
		<p> Access detail: <br>三軒茶屋駅　世田谷通り口を出て右にまっすぐ進むと右手にあります。</p>
		<p> Contact:<br> tel: 03-3344-5587<br> mail: co-working-space@mail.com</p>
	</div>
	<div class="col-md-6">
		<div class="back-image2">
		</div>
	</div>
</div>
