<% breadcrumb :price %>
<div class="row price-visual">
	<p class="about-visual-text"><strong> Price</strong></p>
</div>

<div class="row concept">
	<h2 class="title"> Price</h2>
	<p class="concept-text">
	フロントにてチェックイン・チェックアウトをお願いいたします。</p>
</div>

<div class="row">
	<div class ="col-md-5 col-md-offset-2">
		<h3> ドロップイン利用</h3>
		<p> 60 min ~ ............................ 300円〜</p>
		<p> ☆初回60分が300円で、以降10分毎に100円課金☆</p>
	</div>

	<div class ="col-md-5">
		<h3> パック利用</h3>
		<p> 1時間パック ............................ 300円</p>
		<p> 2時間パック ............................ 800円</p>
		<p> 4時間パック ............................ 1,200円</p>
		<p> 1日パック ............................ 2,000円</p>
		<p> ☆その日に合わせたお得なプラン☆</p>
	</div>
</div>
