<% breadcrumb :qanda %>
<div class="container post">
	<div class="row questions-visual">
		<p class="about-visual-text"><strong> Q & A</strong></p>
	</div>

	<div class="row concept">
		<h2 class="title"> よくあるご質問</h2>
	</div>

	<div class="row">
		<div class ="col-md-8 col-md-offset-2">
			<% @questions.each do |question| %>
			<h3 class="col-md-12">
				<%= question.question %>
			</h3>

			<% if staff_signed_in? %>
				<div class="col-md-2"> <%= link_to '編集', edit_question_path(question.id) %> / <%=link_to '削除', question_path(question.id), method: 'delete', "data-confirm" => "本当に削除しますか？" %>
				</div>
			<% end %>

			<div class="col-md-10">
				<%= simple_format(h (question.answer)) %>
			</div>

			<% end %>
		</div>
	</div>
</div>