<% breadcrumb :qanda %>
<div class="row questions-visual">
	<p class="about-visual-text"><strong> Q & A</strong></p>
</div>

<div class="row concept">
	<h2 class="title"> よくあるご質問</h2>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p> ◆入会や登録する必要はありますか？</p>
		<p> いいえ。ご利用の際にフロントにてチェックインしていただくだけで、ご利用いただけます。<br>
		お得なポイントカードもありますので、ご希望でしたらフロントのスタッフまでお申し付けください。</p>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<p> ◆飲食の持ち込みはできますか？</p>
		<p> はい。簡単な軽食やお飲み物などをお席までお持込みいただけます。<br>
			ただし、匂いの出る食べ物やアルコール類のお持込みはご遠慮いただいております。<br>
		また、飲み物については、コーヒー・エスプレッソ・ラテ・紅茶・ハーブティー・ジュース・ミネラルウォーターなど、フリードリンクのご用意があります。</p>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<p> ◆途中外出はできますか？</p>
		<p> 基本的にはお断りさせていただいております。<br>
		ただし、当店のポイントカードをお持ちのお客様は、ポイントカードをフロントに預けることで外出が可能です。</p>
	</div>
</div>