
<div class="row staffhome-visual">
	<p class="staff-top-text"> Thank you for your ongoing support.</p>
</div>

<div class="row">
	<%= link_to(blogs_path) do %>
		<div class="col-md-7 col-md-offset-1 link-box link-box1">
			<p class="link-text"> Staff Blog一覧</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_blog_path) do %>
		<div class="col-md-7 col-md-offset-4 link-box link-box2">
			<p class="link-text"> Staff Blog投稿</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(news_index_path) do %>
		<div class="col-md-7 col-md-offset-1 link-box link-box3">
			<p class="link-text"> News一覧</p>
		</div>
	<% end %>
</div>
<div class="row">
	<%= link_to(new_news_path) do %>
		<div class="col-md-7 col-md-offset-4 link-box link-box4 ">
			<p class="link-text"> News投稿</p>
		</div>
	<% end %>
</div>


</div>