<div class="row staffhome-visual">
	<p class="staff-top-text"> Thank you for your ongoing support.</p>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-1 link-box link-box1">
		<p class="link-text"> Staff Blog一覧</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-6 link-box link-box2">
		<p class="link-text"> Staff Blog投稿</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-1 link-box link-box3">
		<p class="link-text"> News一覧</p>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-6 link-box link-box2">
		<p class="link-text"> News</p>
	</div>
</div>

</div>